textarea{
    height: 400px;
    box-shadow: 4px 6px 12px 1px rgba(163,163,163,1);
}

.nav-link{
    color: green;
}
.nav-link:hover{
    text-shadow: 4px 1px 4px rgba(0,0,0,0.49);
}
#foto{
    border-radius: 50%;
}

#salvar{
    position: fixed;
    z-index: 2;
    bottom: 2em;
    right: 3em;
    border-radius: 50%;
    width: 70px;
    height: 70px;   
}