#adicionar {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    position: fixed;
    right: 10%;
    bottom: 10%;
    background-color: green;
    color: white;
    font-size: 50px;
    padding-top: ;
}