<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Gerenciamento das Fichas de Pacientes</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="keyword">Digite o paciente a ser pesquisado:</label>
            <div class="input-group">
                <input type="text" id="keyword" class="form-control">
                <span class="input-group-text">
                    <button class="btn btn-success">Buscar</button>
                </span>
            </div>
        </div>
    </div>
</div>

<button id="adicionar"> + </button>