#adicionar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    right: 10%;
    bottom: 10%;
    background-color: green;
    color: rgb(228, 227, 227);
    border: 1px solid rgb(8, 170, 8);
}

#logout {
    position: fixed;
    left: 10%;
    bottom: 10%;
}