<app-loading *ngIf="loading"></app-loading>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Gerenciamento das Fichas de Pacientes</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="keyword">Digite o paciente a ser pesquisado:</label>
            <div class="input-group">
                <input type="text" id="keyword" class="form-control"[(ngModel)]="keyword" (keyup.enter)="pesquisar()">
                <span class="input-group-text">
                    <button class="btn btn-success" (click)="pesquisar()">Perquisar</button>
                </span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row" *ngFor="let ITEM of lista">
        <div class="col-12">
            <a [routerLink]="['/ficha', ITEM.idFicha]">{{ITEM.nomePaciente}}</a>
        </div>
    </div>
</div>

<a [routerLink]="['/ficha', 'NOVA']"><button id="adicionar"><i class="fa-solid fa-2x fa-user-plus"></i></button></a>